<div class="contentWrapper">
	<div class="container">
		<div class="text-wrapper">
			<img src="<%- theme.content_img %>">
			<p>
				<%- theme.content_text %>
			</p>
		</div>
		<div class="image-wrapper">
			<img src="<%- theme.content_main_img %>">
		</div>
	</div>
</div>