<div class="footerWrapper">
	<div class="container">
		<div class="footer-main">
			<p class="footer-main-title">
				<%- theme.footer_main_title %>
			</p>
			<p class="footer-main-desc"><%- theme.footer_main_desc %></p>
		</div>
		<div class="footer-social">
			<a href="<%- theme.github_link %>">
				<img src="<%- url_for(theme.github_img) %>">
			</a>
		</div>
	</div>
</div>